body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: url('img/background.jpg');
}

.fMenu {
	flex-grow: 1;
	max-height: 10%;
	width: 100%;
	margin-bottom:10px;
	display:flex;
	flex-direction: row;
}

.cvGame {
	flex-grow: 99;
	width: 100%;
	border: 1px solid black;
	margin-bottom:10px;
}

.fMenu > * {
	flex-grow:1;
	margin-right: 10px;
}

.fMenu > label  {
	margin-right: 0px;
}

.hidden {
	display:none;
}