body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: url('../img/background.jpg');
	background-size: contain;
}

.fMenu,
.pnlDebug {	
	display: flex;
	flex-direction: row;
	width: 50vw;
}

.pnlDebug>output {
	flex-grow: 99;
}

.pnlDebug>checkbox{
	flex-grow:1;
}

.fMenu {
	flex-grow: 1;
	max-height: 10%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
}

.cvGame {
	flex-grow: 99;
	width: 100%;
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 10px;
}

.fMenu>* {
	flex-grow: 1;
	margin-right: 10px;
}

.fMenu>label {
	margin-right: 0px;
}

.hidden {
	display: none;
}

select,
input {
	background: #00000099;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	padding: 10px;
	text-align: center;
}

label, output {
	color: white;
	padding: 10px;
	text-align: center;
}

div {
	display: flex;
}