body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

body.cyberpunk {
	background: url('../img/cyberpunk/background.jpg');
	background-size: contain;
}

body.modern {
	background: url('../img/modern/background.jpg');
	background-size: contain;
}

.pnlMenu {
	display: inline-block;
}

.fMenu {
	display: flex;
	flex-direction: row;
	/* width: 50vw; */
	width: 100%;
}

output {
	user-select: none;
}

.fMenu {
	/* flex-grow: 1; */
	max-height: 10%;
	margin-bottom: 10px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.cvGame {
	flex-grow: 99;
	width: 100%;
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 10px;
}

.noCrsr {
	cursor: none;
}

.fMenu>* {
	flex-grow: 1;
	margin-right: 10px;
}

.fMenu>label {
	margin-right: 0px;
}

.hidden {
	display: none;
}

select,
input {
	background: #00000099;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	/* padding: 10px; */
	text-align: center;
}

label, output {
	color: white;
	padding: 10px;
	text-align: center;
}

.pnlLives {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    background: #00000099;
	text-align: center;
}